/* color palette 

--sizzling-red: #f2545bff;
--amaranth-purple: #a93f55ff;
--gunmetal: #19323cff;
--mint-cream: #f3f7f0ff;
--rose-taupe: #8c5e58ff;

*/

.splashcontainer {
  color: #f3f7f0ff;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.slogan {
  position: absolute;
  color: #f3f7f0ff;
  text-align: center;
  font-size: 2rem;
  padding: 50px;
}

img {
  max-width: 100%;
}
